*.class

# Package Files #
#*.jar
#*.war
#*.ear
*~
.settings/
.svn/
target/
jframe/jframe-release/jframe/log/
jframe/jframe-release/jframe/temp/
jframe/jframe-release/jframe/update/
jframe/jframe-release/jframe/lib/
jframe/jframe-release/jframe/plugin/
