<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jframe.pay.domain.dao.mapper.OrderMapper">

	<resultMap id="orderAlipayResultMap" type="OrderAlipay">
		<id property="payNo" column="pay_no" />
		<result property="account" column="account" />
		<result property="backUrl" column="back_url" />
		<result property="buyerEmail" column="buyer_email" />
		<result property="buyerId" column="buyer_id" />
		<result property="notifyId" column="notify_id" />
		<result property="notifyTime" column="notify_time"
			typeHandler="jframe.pay.domain.dao.mapper.SqlTimestampTypeHandler" />
		<result property="notifyType" column="notify_type" />
		<result property="orderCreateTime" column="order_create_time"
			typeHandler="jframe.pay.domain.dao.mapper.SqlTimestampTypeHandler" />
		<result property="orderFinishTime" column="order_finish_time"
			typeHandler="jframe.pay.domain.dao.mapper.SqlTimestampTypeHandler" />
		<result property="orderNo" column="order_no" />
		<result property="payStatus" column="pay_status" />
		<result property="payAmount" column="pay_amount" />
		<result property="payCurrency" column="pay_currency" />
		<result property="payDesc" column="pay_desc" />
		<result property="payGroup" column="pay_group" />
		<result property="payTimeout" column="pay_timeout"
			typeHandler="jframe.pay.domain.dao.mapper.SqlTimestampTypeHandler" />
		<result property="sellerEmail" column="seller_email" />
		<result property="sellerId" column="seller_id" />
		<result property="subject" column="subject" />
		<result property="tradeStatus" column="trade_status" />
		<result property="transType" column="trans_type" />
	</resultMap>

	<resultMap id="orderWxResultMap" type="OrderWx">
		<id property="payNo" column="pay_no" />
		<result property="account" column="account" />
		<result property="backUrl" column="back_url" />
		<result property="bankBillNo" column="bank_bill_no" />
		<result property="bankType" column="bank_type" />
		<result property="buyerAlias" column="buyer_alias" />
		<result property="discount" column="discount" />
		<result property="notifyId" column="notify_id" />
		<result property="orderCreateTime" column="order_create_time"
			typeHandler="jframe.pay.domain.dao.mapper.SqlTimestampTypeHandler" />
		<result property="orderFinishTime" column="order_finish_time"
			typeHandler="jframe.pay.domain.dao.mapper.SqlTimestampTypeHandler" />
		<result property="orderNo" column="order_no" />
		<result property="payStatus" column="pay_status" />
		<result property="outRefundNo" column="out_refund_no" />
		<result property="payAmount" column="pay_amount" />
		<result property="payCurrency" column="pay_currency" />
		<result property="payDesc" column="pay_desc" />
		<result property="payGroup" column="pay_group" />
		<result property="payInfo" column="pay_info" />
		<result property="payTimeout" column="pay_timeout" />
		<result property="productFee" column="product_fee" />
		<result property="recvUserId" column="recv_user_id" />
		<result property="recvUserName" column="recv_user_name" />
		<result property="refundChannel" column="refund_channel" />
		<result property="refundFee" column="refund_fee" />
		<result property="refundId" column="refund_id" />
		<result property="refundStatus" column="refund_status" />
		<result property="refundType" column="refund_type" />
		<result property="respCode" column="resp_code" />
		<result property="respDesc" column="resp_desc" />
		<result property="timeEnd" column="time_end" />
		<result property="tradeMode" column="trade_mode" />
		<result property="transactionId" column="transaction_id" />
		<result property="transportFee" column="transport_fee" />
		<result property="transType" column="trans_type" />
	</resultMap>

	<resultMap id="orderDetailResultMap" type="OrderDetail">
		<id property="id" column="id" />
		<result property="accountFrom" column="account_from" />
		<result property="account_to" column="account_to" />
		<result property="desc" column="desc" />
		<result property="income" column="income" />
		<result property="name" column="name" />
		<result property="payGroup" column="pay_group" />
		<result property="payNo" column="pay_no" />
		<result property="transType" column="trans_type" />
	</resultMap>

	<insert id="insertOrderAlipay" parameterType="OrderAlipay">
		insert into
		order_alipay
		(
		<if test="account != null">account,</if>
		<if test="backUrl != null">back_url,</if>
		<if test="buyerEmail != null">buyer_email,</if>
		<if test="buyerId != null">buyer_id,</if>
		<if test="notifyId != null">notify_id,</if>
		<if test="notifyTime != null">notify_time,</if>
		<if test="notifyType != null">notify_type,</if>
		order_create_time,
		<if test="orderFinishTime != null">order_finish_time,</if>
		order_no,
		pay_status,
		pay_amount,
		<if test="payCurrency != null">pay_currency,</if>
		<if test="payDesc != null">pay_desc,</if>
		<if test="payGroup != null">pay_group,</if>
		pay_no,
		<if test="payTimeout != null">pay_timeout,</if>
		<if test="sellerEmail != null">seller_email,</if>
		<if test="sellerId != null">seller_id,</if>
		<if test="subject != null">subject,</if>
		<if test="tradeStatus != null">trade_status,</if>
		<if test="transType != null">trans_type,</if>
		create_time)
		values
		(
		<if test="account != null">#{account},</if>
		<if test="backUrl != null">#{backUrl},</if>
		<if test="buyerEmail != null">#{buyerEmail},</if>
		<if test="buyerId != null">#{buyerId},</if>
		<if test="notifyId != null">#{nofityId},</if>
		<if test="notifyTime != null">#{notifyTime,typeHandler=jframe.pay.domain.dao.mapper.SqlTimestampTypeHandler},
		</if>
		<if test="notifyType != null">#{notifyType},</if>
		now(),
		<if test="orderFinishTime != null">#{orderFinishTime,typeHandler=jframe.pay.domain.dao.mapper.SqlTimestampTypeHandler},
		</if>
		#{orderNo},
		#{payStatus},
		#{payAmount},
		<if test="payCurrency != null">#{payCurrency},</if>
		<if test="payDesc != null">#{payDesc},</if>
		<if test="payGroup != null">#{payGroup},</if>
		#{payNo},
		<if test="payTimeout != null">#{payTimeout,typeHandler=jframe.pay.domain.dao.mapper.SqlTimestampTypeHandler},
		</if>
		<if test="sellerEmail != null">#{sellerEmail},</if>
		<if test="sellerId != null">#{sellerId},</if>
		<if test="subject != null">#{subject},</if>
		<if test="tradeStatus != null">#{tradeStatus},</if>
		<if test="transType != null">#{transType},</if>
		now())
	</insert>

	<update id="updateOrderAlipay" parameterType="OrderAlipay">
		update `order_alipay`
		<set>
			<if test="orderNo != null">order_no=#{orderNo},</if>
			<if test="backUrl != null">back_url=#{backUrl},</if>
			<if test="buyerEmail != null">buyer_email=#{buyerEmail},</if>
			<if test="buyerId != null">buyer_id=#{buyerId},</if>
			<if test="notifyId != null">notify_id=#{notifyId},</if>
			<if test="notifyTime != null">notify_time=#{notifyTime,typeHandler=jframe.pay.domain.dao.mapper.SqlTimestampTypeHandler},
			</if>
			<if test="notifyType != null">notify_type=#{notifyType},</if>
			<if test="orderFinishTime != null">order_finish_time=#{orderFinishTime,typeHandler=jframe.pay.domain.dao.mapper.SqlTimestampTypeHandler},
			</if>
			<if test="payStatus != null">pay_status=#{payStatus},</if>
			<if test="payAmount != null">pay_amount=#{payAmount},</if>
			<if test="payCurrency != null">pay_currency=#{payCurrency},</if>
			<if test="payDesc != null">pay_desc=#{payDesc},</if>
			<if test="payGroup != null">pay_group=#{payGroup},</if>
			<if test="payTimeout != null">pay_timeout=#{payTimeout,typeHandler=jframe.pay.domain.dao.mapper.SqlTimestampTypeHandler},
			</if>
			<if test="sellerId != null">seller_id=#{sellerId},</if>
			<if test="sellerEmail != null">seller_email=#{sellerEmail},</if>
			<if test="subject != null">subject=#{subject},</if>
			<if test="tradeStatus != null">trade_status=#{tradeStatus},</if>
			<if test="transType != null">trans_type=#{transType}</if>
		</set>
		where pay_no = #{payNo}
	</update>

	<select id="selectOrderAlipay" parameterType="string"
		resultMap="orderAlipayResultMap">
		select * from order_alipay where pay_no = #{payNo}
	</select>

	<select id="selectOrderAlipayWithOrderNo" parameterType="string"
		resultMap="orderAlipayResultMap">
		select * from order_alipay where order_no = #{orderNo}
	</select>

</mapper>